.Rproj.user
.Rhistory
.RData
DLQI_PrePost.pdf
MedisinskBeh.pdf
PasientAlder.pdf
TidlBeh.pdf
i_surgery_type.pdf
i_type.pdf
p_age_abscess.pdf
p_education.pdf
pre_smoking.pdf
pre_work.pdf
seData.csv
tmp.pdf
i_type_avd.pdf
i_type_avd.wmf
oppflg.csv
views.sql
