kladd.R
seDataNy.csv
tilAarsrapport2015.R
FigTilAarsrapp2015_medbug.pdf
Lise.R
hisregdataUNN.csv
hisregdataUNN.zip
DataHisreg.csv
DataHisreg.zip
DataHisreg21112016.csv
DataHisreg21112016.zip
VariablerTilQuery.txt
hisregQuery.sql
komplKirurgi.pdf
Hisreg.java
Variabler_hisreg
Variabler_hisreg.csv
bugs.R
DataHisreg23032017.csv
DataHisreg23032017.zip
Variabelliste HISREG_juni2016.docx
views.sql
datoTull.Rmd
dekningsgrad.Rmd
dekningsgrad.html
figTilAarsrapp2016.R
tmp_andelStabelGrVar.R
