kladd.R
seDataNy.csv
tilAarsrapport2015.R
FigTilAarsrapp2015_medbug.pdf
Lise.R
hisregdataUNN.csv
hisregdataUNN.zip
DataHisreg.csv
DataHisreg.zip
DataHisreg21112016.csv
DataHisreg21112016.zip
VariablerTilQuery.txt
hisregQuery.sql
komplKirurgi.pdf
Hisreg.java
AlleVar.csv
AlleVarNum.csv
DataHisreg11102017.csv
DataHisreg11102017.zip
DataHisreg23032017.csv
DataHisreg23032017.zip
Followups.csv
FollowupsNum.csv
ForlopsOversikt.csv
Utleveringer.R
Variabelliste HISREG_juni2016.docx
Variabler_hisreg
Variabler_hisreg.csv
bugs.R
datoTull.Rmd
dekningsgrad.Rmd
dekningsgrad.html
figTilAarsrapp2016.R
hisregRikshospitalet.zip
prod_vs_test.R
TidlBeh.png
TypeMedBeh_avd.png
i_surgery_type_avd.png
i_type_avd.pdf
i_type_avd.png
kontroll.csv
tabell1.PNG
Figurer til årsrapport.msg
HandteringAvOppfolging.R
aktuell_for_hisreg.csv
aktuell_for_hisreg_unik.csv
alle.csv
bestillinger_utleveringer.R
kun_andre_avdelinger.csv
unik_pas_pr_avd_pr_aar.csv

