DataHisreg.csv
DataHisreg.zip
DataHisreg21112016.csv
DataHisreg21112016.zip
FigTilAarsrapp2015_medbug.pdf
Lise.R
VariablerTilQuery.txt
hisregQuery.sql
hisregdataUNN.csv
hisregdataUNN.zip
kladd.R
seDataNy.csv
