Vas_PrePost.pdf
Vas_PrePost_gjsn.pdf
Vas_PrePost_gjsnIntervensjon.pdf
Vas_PrePost_gjsnSykehus.pdf
Vas_PrePost_gjsnSykehus_Kirurgisk.pdf
Vas_PrePost_gjsnSykehus_Medisinsk.pdf
i_biological_treatment.pdf
i_surgery_typeStOlav.pdf
i_surgery_typeUNN.pdf
i_typeStOlav.pdf
i_typeUNN.pdf
pre_bmi_pre.pdf
pre_bmi_preBehandl.pdf
pre_bmi_preBehandlFraStart.pdf
pre_bmi_preShus.pdf
pre_bmi_preShusFraStart.pdf
pre_dlqisum_pre.pdf
pre_dlqisum_preBehandl.pdf
pre_dlqisum_preBehandlFraStart.pdf
pre_dlqisum_preShus.pdf
pre_dlqisum_preShusFraStart.pdf
pre_hsscoresum_pre.pdf
pre_hsscoresum_preBehandl.pdf
pre_hsscoresum_preBehandlFraStart.pdf
pre_hsscoresum_preShus.pdf
pre_hsscoresum_preShusFraStart.pdf
pre_vasscore_pre.pdf
pre_vasscore_preBehandl.pdf
pre_vasscore_preBehandlFraStart.pdf
pre_vasscore_preShus.pdf
pre_vasscore_preShusFraStart.pdf
HS_PrePost_gjsnIntervensjon.pdf
HS_PrePost_gjsnSykehus.pdf
HS_PrePost_gjsnSykehus_Kirurgisk.pdf
HS_PrePost_gjsnSykehus_Medisinsk.pdf
Hurley_PrePost.pdf
Hurley_PrePostMedisinsk.pdf
Hurley_PrePost_Kirurgisk.pdf
Hurley_PrePost_Medisinsk.pdf
KirurgiLokalisering_post.pdf
Kjoenn.pdf
KomplKir_post.pdf
MedisinskBehStOlav.pdf
MedisinskBehUNN.pdf
RegAvd.pdf
UnikePasienter.pdf
DLQI_PrePostMedisinsk.pdf
DLQI_PrePost_Kirurgisk.pdf
DLQI_PrePost_Medisinsk.pdf
DLQI_PrePost_gjsn.pdf
DLQI_PrePost_gjsnIntervensjon.pdf
DLQI_PrePost_gjsnSykehus.pdf
DLQI_PrePost_gjsnSykehus_Kirurgisk.pdf
DLQI_PrePost_gjsnSykehus_Medisinsk.pdf
FigTilAarsrapp2015-concordance.tex
FigTilAarsrapp2015.log
FigTilAarsrapp2015.synctex.gz
FigTilAarsrapp2015.tex
FigTilAarsrapp2016-concordance.tex
FigTilAarsrapp2016.Rnw
FigTilAarsrapp2016.log
FigTilAarsrapp2016.pdf
FigTilAarsrapp2016.synctex.gz
FigTilAarsrapp2016.tex
MedisinskBeh102449.pdf
MedisinskBeh102980.pdf
MedisinskBeh105489.pdf
MedisinskBeh106868.pdf
MedisinskBeh601031.pdf
MedisinskBeh700395.pdf
