Vas_PrePost.pdf
Vas_PrePost_gjsn.pdf
Vas_PrePost_gjsnIntervensjon.pdf
Vas_PrePost_gjsnSykehus.pdf
Vas_PrePost_gjsnSykehus_Kirurgisk.pdf
Vas_PrePost_gjsnSykehus_Medisinsk.pdf
i_biological_treatment.pdf
i_surgery_typeStOlav.pdf
i_surgery_typeUNN.pdf
i_typeStOlav.pdf
i_typeUNN.pdf
pre_bmi_pre.pdf
pre_bmi_preBehandl.pdf
pre_bmi_preBehandlFraStart.pdf
pre_bmi_preShus.pdf
pre_bmi_preShusFraStart.pdf
pre_dlqisum_pre.pdf
pre_dlqisum_preBehandl.pdf
pre_dlqisum_preBehandlFraStart.pdf
pre_dlqisum_preShus.pdf
pre_dlqisum_preShusFraStart.pdf
pre_hsscoresum_pre.pdf
pre_hsscoresum_preBehandl.pdf
pre_hsscoresum_preBehandlFraStart.pdf
pre_hsscoresum_preShus.pdf
pre_hsscoresum_preShusFraStart.pdf
pre_vasscore_pre.pdf
pre_vasscore_preBehandl.pdf
pre_vasscore_preBehandlFraStart.pdf
pre_vasscore_preShus.pdf
pre_vasscore_preShusFraStart.pdf
HS_PrePost_gjsnIntervensjon.pdf
HS_PrePost_gjsnSykehus.pdf
HS_PrePost_gjsnSykehus_Kirurgisk.pdf
HS_PrePost_gjsnSykehus_Medisinsk.pdf
Hurley_PrePost.pdf
Hurley_PrePostMedisinsk.pdf
Hurley_PrePost_Kirurgisk.pdf
Hurley_PrePost_Medisinsk.pdf
KirurgiLokalisering_post.pdf
Kjoenn.pdf
KomplKir_post.pdf
MedisinskBehStOlav.pdf
MedisinskBehUNN.pdf
RegAvd.pdf
UnikePasienter.pdf
DLQI_PrePostMedisinsk.pdf
DLQI_PrePost_Kirurgisk.pdf
DLQI_PrePost_Medisinsk.pdf
DLQI_PrePost_gjsn.pdf
DLQI_PrePost_gjsnIntervensjon.pdf
DLQI_PrePost_gjsnSykehus.pdf
DLQI_PrePost_gjsnSykehus_Kirurgisk.pdf
DLQI_PrePost_gjsnSykehus_Medisinsk.pdf
FigTilAarsrapp2015-concordance.tex
FigTilAarsrapp2015.log
FigTilAarsrapp2015.synctex.gz
FigTilAarsrapp2015.tex
FigTilAarsrapp2016-concordance.tex
FigTilAarsrapp2016.log
FigTilAarsrapp2016.pdf
FigTilAarsrapp2016.synctex.gz
FigTilAarsrapp2016.tex
MedisinskBeh102449.pdf
MedisinskBeh102980.pdf
MedisinskBeh105489.pdf
MedisinskBeh106868.pdf
MedisinskBeh601031.pdf
MedisinskBeh700395.pdf
Antibiotisk.pdf
LokalisertMedisinsk.pdf
i_antiinflammatory_treatment.pdf
i_biological_treatment102449.pdf
i_biological_treatment102980.pdf
i_biological_treatment105489.pdf
i_biological_treatment106868.pdf
i_biological_treatment601031.pdf
i_biological_treatment700395.pdf
MedisinskBehHaukeland.pdf
MedisinskBehRikshosp.pdf
MedisinskBehSUS.pdf
i_surgery_typeHaukeland.pdf
i_surgery_typeRikshosp.pdf
i_surgery_typeSUS.pdf
i_typeHaukeland.pdf
i_typeRikshosp.pdf
i_typeSUS.pdf
FigTilAarsrapp2017.log
FigTilAarsrapp2017.pdf
FigTilAarsrapp2017.synctex.gz
FigTilAarsrapp2017.tex
TypeMedBeh_avd.pdf
TypeMedBeh_avd.wmf
framed.sty
i_surgery_type_avd.pdf
i_surgery_type_avd.wmf
i_type_avd.pdf
i_type_avd.wmf
FigTilAarsrapp2017 - gml.pdf
FigTilAarsrapp2017-concordance.tex
FigTilAarsrapp2018-concordance.tex
FigTilAarsrapp2018.log
FigTilAarsrapp2018.pdf
FigTilAarsrapp2018.synctex.gz
FigTilAarsrapp2018.tex
mailisbeth2019
Antibiotisk.png
Antibiotisk.svg
Antibiotisk.wmf
DLQI_PrePost.png
DLQI_PrePost.svg
DLQI_PrePost.wmf
DLQI_PrePost_Kirurgisk.png
DLQI_PrePost_Kirurgisk.svg
DLQI_PrePost_Kirurgisk.wmf
DLQI_PrePost_Medisinsk.png
DLQI_PrePost_Medisinsk.svg
DLQI_PrePost_Medisinsk.wmf
DLQI_PrePost_gjsnIntervensjon.png
DLQI_PrePost_gjsnIntervensjon.svg
DLQI_PrePost_gjsnIntervensjon.wmf
DLQI_PrePost_gjsnSykehus.png
DLQI_PrePost_gjsnSykehus.svg
DLQI_PrePost_gjsnSykehus.wmf
DLQI_PrePost_gjsnSykehus_Kirurgisk.png
DLQI_PrePost_gjsnSykehus_Kirurgisk.svg
DLQI_PrePost_gjsnSykehus_Kirurgisk.wmf
FigTilAarsrapp2019-concordance.tex
FigTilAarsrapp2019.Rnw
FigTilAarsrapp2019.log
FigTilAarsrapp2019.pdf
FigTilAarsrapp2019.synctex.gz
FigTilAarsrapp2019.tex
FigTilAarsrapp2019_roskilde-concordance.tex
FigTilAarsrapp2019_roskilde.Rnw
FigTilAarsrapp2019_roskilde.log
FigTilAarsrapp2019_roskilde.pdf
FigTilAarsrapp2019_roskilde.synctex.gz
FigTilAarsrapp2019_roskilde.tex
HS_PrePost_gjsnIntervensjon.png
HS_PrePost_gjsnIntervensjon.svg
HS_PrePost_gjsnIntervensjon.wmf
HS_PrePost_gjsnSykehus.png
HS_PrePost_gjsnSykehus.svg
HS_PrePost_gjsnSykehus.wmf
HS_PrePost_gjsnSykehus_Kirurgisk.png
HS_PrePost_gjsnSykehus_Kirurgisk.svg
HS_PrePost_gjsnSykehus_Kirurgisk.wmf
Hurley_PrePost.png
Hurley_PrePost.svg
Hurley_PrePost.wmf
Hurley_PrePost_Kirurgisk.png
Hurley_PrePost_Kirurgisk.svg
Hurley_PrePost_Kirurgisk.wmf
Hurley_PrePost_Medisinsk.png
Hurley_PrePost_Medisinsk.svg
Hurley_PrePost_Medisinsk.wmf
KirurgiLokalisering_post.png
KirurgiLokalisering_post.svg
KirurgiLokalisering_post.wmf
Kjoenn.png
Kjoenn.svg
Kjoenn.wmf
KomplKir_post.png
KomplKir_post.svg
KomplKir_post.wmf
LokalisertMedisinsk.png
LokalisertMedisinsk.svg
LokalisertMedisinsk.wmf
MedisinskBeh.png
MedisinskBeh.svg
MedisinskBeh.wmf
MedisinskBeh102449.png
MedisinskBeh102449.svg
MedisinskBeh102449.wmf
MedisinskBeh102980.png
MedisinskBeh102980.svg
MedisinskBeh102980.wmf
MedisinskBeh105489.png
MedisinskBeh105489.svg
MedisinskBeh105489.wmf
MedisinskBeh106868.png
MedisinskBeh106868.svg
MedisinskBeh106868.wmf
MedisinskBeh4214908.pdf
MedisinskBeh4214908.png
MedisinskBeh4214908.svg
MedisinskBeh4214908.wmf
MedisinskBeh601031.png
MedisinskBeh601031.svg
MedisinskBeh601031.wmf
MedisinskBeh700395.png
MedisinskBeh700395.svg
MedisinskBeh700395.wmf
MedisinskBeh999002.pdf
MedisinskBehHaukeland.png
MedisinskBehHaukeland.svg
MedisinskBehHaukeland.wmf
MedisinskBehRikshosp.png
MedisinskBehRikshosp.svg
MedisinskBehRikshosp.wmf
MedisinskBehSUS.png
MedisinskBehSUS.svg
MedisinskBehSUS.wmf
MedisinskBehStOlav.png
MedisinskBehStOlav.svg
MedisinskBehStOlav.wmf
MedisinskBehUNN.png
MedisinskBehUNN.svg
MedisinskBehUNN.wmf
PasientAlder.png
PasientAlder.svg
PasientAlder.wmf
RegAvd.png
RegAvd.svg
RegAvd.wmf
TidlBeh.png
TidlBeh.svg
TidlBeh.wmf
TypeMedBeh_avd.png
TypeMedBeh_avd.svg
UnikePasienter.png
UnikePasienter.svg
UnikePasienter.wmf
Vas_PrePost_gjsnIntervensjon.png
Vas_PrePost_gjsnIntervensjon.svg
Vas_PrePost_gjsnIntervensjon.wmf
Vas_PrePost_gjsnSykehus.png
Vas_PrePost_gjsnSykehus.svg
Vas_PrePost_gjsnSykehus.wmf
Vas_PrePost_gjsnSykehus_Kirurgisk.png
Vas_PrePost_gjsnSykehus_Kirurgisk.svg
Vas_PrePost_gjsnSykehus_Kirurgisk.wmf
i_antiinflammatory_treatment.png
i_antiinflammatory_treatment.svg
i_antiinflammatory_treatment.wmf
i_biological_treatment.png
i_biological_treatment.svg
i_biological_treatment.wmf
i_surgery_type.png
i_surgery_type.svg
i_surgery_type.wmf
i_surgery_typeHaukeland.png
i_surgery_typeHaukeland.svg
i_surgery_typeHaukeland.wmf
i_surgery_typeRikshosp.png
i_surgery_typeRikshosp.svg
i_surgery_typeRikshosp.wmf
i_surgery_typeSUS.png
i_surgery_typeSUS.svg
i_surgery_typeSUS.wmf
i_surgery_typeStOlav.png
i_surgery_typeStOlav.svg
i_surgery_typeStOlav.wmf
i_surgery_typeUNN.png
i_surgery_typeUNN.svg
i_surgery_typeUNN.wmf
i_surgery_type_avd.png
i_surgery_type_avd.svg
i_type.png
i_type.svg
i_type.wmf
i_typeHaukeland.png
i_typeHaukeland.svg
i_typeHaukeland.wmf
i_typeRikshosp.png
i_typeRikshosp.svg
i_typeRikshosp.wmf
i_typeSUS.png
i_typeSUS.svg
i_typeSUS.wmf
i_typeStOlav.png
i_typeStOlav.svg
i_typeStOlav.wmf
i_typeUNN.png
i_typeUNN.svg
i_typeUNN.wmf
i_type_avd.png
i_type_avd.svg
p_age_abscess.png
p_age_abscess.svg
p_age_abscess.wmf
p_education.png
p_education.svg
p_education.wmf
pre_bmi_preBehandl.png
pre_bmi_preBehandl.svg
pre_bmi_preBehandl.wmf
pre_bmi_preBehandlFraStart.png
pre_bmi_preBehandlFraStart.svg
pre_bmi_preBehandlFraStart.wmf
pre_bmi_preShus.png
pre_bmi_preShus.svg
pre_bmi_preShus.wmf
pre_bmi_preShusFraStart.png
pre_bmi_preShusFraStart.svg
pre_bmi_preShusFraStart.wmf
pre_dlqisum_preBehandl.png
pre_dlqisum_preBehandl.svg
pre_dlqisum_preBehandl.wmf
pre_dlqisum_preBehandlFraStart.png
pre_dlqisum_preBehandlFraStart.svg
pre_dlqisum_preBehandlFraStart.wmf
pre_dlqisum_preShus.png
pre_dlqisum_preShus.svg
pre_dlqisum_preShus.wmf
pre_dlqisum_preShusFraStart.png
pre_dlqisum_preShusFraStart.svg
pre_dlqisum_preShusFraStart.wmf
pre_hsscoresum_preBehandl.png
pre_hsscoresum_preBehandl.svg
pre_hsscoresum_preBehandl.wmf
pre_hsscoresum_preBehandlFraStart.png
pre_hsscoresum_preBehandlFraStart.svg
pre_hsscoresum_preBehandlFraStart.wmf
pre_hsscoresum_preShus.png
pre_hsscoresum_preShus.svg
pre_hsscoresum_preShus.wmf
pre_hsscoresum_preShusFraStart.png
pre_hsscoresum_preShusFraStart.svg
pre_hsscoresum_preShusFraStart.wmf
pre_smoking.png
pre_smoking.svg
pre_smoking.wmf
pre_vasscore_preBehandl.png
pre_vasscore_preBehandl.svg
pre_vasscore_preBehandl.wmf
pre_vasscore_preBehandlFraStart.png
pre_vasscore_preBehandlFraStart.svg
pre_vasscore_preBehandlFraStart.wmf
pre_vasscore_preShus.png
pre_vasscore_preShus.svg
pre_vasscore_preShus.wmf
pre_vasscore_preShusFraStart.png
pre_vasscore_preShusFraStart.svg
pre_vasscore_preShusFraStart.wmf
pre_work.png
pre_work.svg
pre_work.wmf
